/**
*
* style.css
* @author- Arshath
* @date- 29/11/2022
*/
.container {
    border: none;
    padding: 25px;
    background-color: #FF4766;
}
.calculator {
    flex-direction: column;
    margin: 100px;
}
.textarea {
    margin-bottom: 20px;
}
.textarea input {
    font-size: 20px;
    width: 195px;
    padding: 13px;
    background-color: #85BFEA;
}